<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
		 xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
		 xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
		 xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
		 xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
		 IgnorableNamespaces="uap rescap uap5">

	<Identity Name="22189NoMewing.6191006733C16"
			  Publisher="CN=E6D8FAFA-3EF4-4E47-B885-52144C67BFF5"
			  Version="3.4.1.0" />

	<mp:PhoneIdentity PhoneProductId="ff7d62c0-a929-4780-b136-6f7859750ece" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>燧石</DisplayName>
		<PublisherDisplayName>No Mewing</PublisherDisplayName>
		<Logo>Assets\Manifests\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
					 Executable="$targetnametoken$.exe"
					 EntryPoint="$targetentrypoint$">
			<uap:VisualElements DisplayName="燧石"
								Description="&quot;燧石&quot;随地查单词，离线英汉词典。"
								BackgroundColor="transparent" Square150x150Logo="Assets\Manifests\Square150x150Logo.png" Square44x44Logo="Assets\Manifests\Square44x44Logo.png">
				<uap:DefaultTile  ShortName="燧石" Square71x71Logo="Assets\Manifests\SmallTile.png" Wide310x150Logo="Assets\Manifests\Wide310x150Logo.png" Square310x310Logo="Assets\Manifests\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\Manifests\SplashScreen.png" BackgroundColor="transparent"/>
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="portrait"/>
					<uap:Rotation Preference="landscapeFlipped"/>
					<uap:Rotation Preference="portraitFlipped"/>
				</uap:InitialRotationPreference>
			</uap:VisualElements>
			<Extensions>
				<uap5:Extension Category="windows.startupTask" EntryPoint="Windows.FullTrustApplication" Executable="Flint3.exe">
					<uap5:StartupTask DisplayName="燧石" Enabled="false" TaskId="FlintByNoMewing"/>
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
